<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Inventory-List</h1>
        <p class="lead">Welcome to Inventory-List application.We hope to provide you a better inventory solution.</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <p class="lead">
          <a class="btn btn-primary btn-lg" role="button">Learn more</a>
        </p>
      </div>
</div>

